[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pybibs = {editable = true, path = "."}

[dev-packages]
wheel = "*"
twine = "*"
pytest = "*"

[requires]
python_version = "3.7"
